# logs shit
logs/
crash-reports/

# windows shit
natives-windows-x86_64/

# linux shit
natives-linux-x86_64/

# macos shit
.DS_Store
*.icloud

# kubejs shit
kubejs/assets/kubejs/textures/block/example_block.png
kubejs/assets/kubejs/textures/item/example_item.png
kubejs/client_scripts/main.js
kubejs/startup_scripts/main.js
kubejs/README.txt
kubejs/server_scripts/main.js
kubejs/config/probe-settings.json

# config shit
config/tweakeroo.json
config/minihud.json
config/minihud/
config/Mekanism/client.toml
config/sound_physics_remastered
config/itemscroller.json
config/malilib.json

# unoffical mods


/.idea
log4j2.xml
downloads/
saves/
usercache.json
usernamecache.json
local/
command_history.txt
options.txt
itemscroller/
.probe
.vscode/
config/jei/ingredient-list-mod-sort-order.ini
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
