# logs shit
logs/
crash-reports/

# windows shit
natives-windows-x86_64/

# linux shit
natives-linux-x86_64/

# macos shit
.DS_Store
*.icloud

# kubejs shit
kubejs/assets/kubejs/textures/block/example_block.png
kubejs/assets/kubejs/textures/item/example_item.png
kubejs/client_scripts/main.js
kubejs/startup_scripts/main.js
kubejs/README.txt
kubejs/server_scripts/main.js
kubejs/config/common.json
kubejs/config/probe-settings.json
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json



# config shit
config/tweakeroo.json
config/minihud.json
config/minihud/
config/Mekanism/client.toml
config/sound_physics_remastered
config/itemscroller.json
config/malilib.json
config/anvilcraft_pigsplus-server.toml
config/create-client.toml
config/create-common.toml
config/create-server.toml
config/curios-client.toml
config/curios-common.toml
config/curios-server.toml
config/flywheel-client.toml
config/guideme.toml
config/ponder-client.toml
config/jade/plugins.json
config/jade/sort-order.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini

# unoffical mods

/.idea
log4j2.xml
downloads/
saves/
screenshots/
usercache.json
usernamecache.json
local/
command_history.txt
options.txt
itemscroller/
.probe
.vscode/
config/jei/
fancymenu_data/last_world.fmdata
config/inventoryprofilesnext/

